body {
    background: #4B9CD3;
}

#rootContainer {
    text-align: center;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vh;
}

.pageTitle {
    font-family: 'Open Sans', sans-serif;
    color: #13294B;
    font-size: 15vmin;
    background-color: #E1E1E1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 2vmin;
    padding: 2vmin;
}

hr {
    border: 2px solid #E1E1E1;
}

.footerContainer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100vw;
    margin-bottom: 2vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 3vmin;
}

button {
    font-family: 'Open Sans', sans-serif;
    margin-top: 3vh;
    border-radius: 8px;
    padding: 16px 32px;
    border: 3px solid #13294B;
    font-size: 6vmin;
    background-color: #13294B;
    color: #E1E1E1;
    margin-bottom: 5vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.submitButton {}

.test {
    text-align: left;
    font-family: 'Jost', sans-serif;
    font-size: 2.5vmin;
}

.scoreScreen {
    display: grid;
}

.scoreScreen>button {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.feedbackDiv {
    display: flex;
}

.feedbackDiv>textarea {
    margin: 1vh;
    border: none;
    border-bottom: 3px solid whitesmoke;
    font-size: 4vmin;
    font-family: 'Jost', sans-serif;
    resize: none;
    width: -moz-available;
    /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    height: 20vh;
    margin-left: 0;
    border-radius: 8px;
    padding: 1vmin;
}

.feedbackDiv>button {
    margin-top: 1vh;
    height: 20vh;
}

.feedbackSubmitted {
    margin-top: 3vh;
    font-family: 'Open Sans', sans-serif;
    color: #13294B;
    font-size: 10vmin;
}

.categoriesList {
    display: grid;
}

.categoriesList>button {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.shoutoutsContainer {
    list-style: none; 
}

.social {
    font-family: 'Jost', sans-serif;
    font-size: 10vmin;
    text-align: left;
    color: #13294B;
}